/* Variables */

:root {
  --color-black: #000000;
  --color-grey: #333333;
  --color-darkgrey: #666666;
  --color-brown: #766357;
  --color-deepbrown: #604E43;
  --color-activebrown: #503E33;
  --color-datagrey: #A9A9A9;
  --color-activegrey: #EBEBEB;
  --color-bordergrey: #E5E5E5;
  --color-white: #FFFFFF;
  --color-lightgrey: #EEEEEE;
  --color-neutral: #F2F2F2;
  --color-blue: #81B3D2;
  --color-deepblue: #669EC0;
  --color-darkblue: #5496BD;
  --color-footer: rgba(255, 255, 255, 0.9);
}

.blue {
  background-color: var(--color-blue);
}

.white {
  background-color: var(--color-white);
}

.grey {
  background-color: var(--color-lightgrey);
}

.two_columns_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  list-style: none;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  list-style: none;
}

.feature-wrap {
  display: flex;
  color: var(--color-white);
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-black);
  text-transform: uppercase;
  background-color: var(--color-white);
  background-position: top center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.page-body-inner-page{
  min-height: 100%;
  display: grid;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main navigation */

.main-header-logo {
  justify-self: center;
}

.base-logo {
  background-size: contain;
  height: 511px;
  background: url("../img/Shape.png") no-repeat bottom, url("../img/background-photo.jpg") no-repeat top;
}

.header-filter {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background: transparent;
}


.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--color-black);
  background-color: var(--color-white);
}

.main-navigation-wrapper {
  background-color: var(--color-white);
}

.site-navigation a {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-weight: 700;
}

/* Search-Hotel */

.search-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover
  color: var(--color-white);

}

/* Buttons */

.button-details {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.button-details:hover {
  background-color: var(--color-deepblue);
}

.button-details:active {
  background-color: var(--color-darkblue);
}

.button-book {
  color: var(--color-white);
  background-color: var(--color-brown);
}

.button-book:hover {
  background-color: var(--color-deepbrown);
}

.button-book:active {
  background-color: var(--color-activebrown);
}

/* Features */

.headers {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}


.feature-item .result-item {
  font-size: 14px;
  line-height: 21px;
}

/* Main footer */

.main-footer {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-footer);
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: var(--color-black);
  text-decoration: underline;
}

/* Social button */

.footer-social ul {
  list-style: none
}

.social-button {
  width: 46px;
  height: 48px;
  color: var(--color-white);
  background-color: var(--color-blue);
  background-position: center;
}

/* Copyright */

.copyright {
  text-align: center;
}