/* Variables */
*{
  box-sizing: border-box;
}

body{
  font-family: "PT Sans", Arial, sans-serif;
}

ul{
  padding-left: 0;
  list-style: none;
}

:root {
  --color-black: #000000;
  --color-grey: #333333;
  --color-darkgrey: #666666;
  --color-brown: #766357;
  --color-deepbrown: #604E43;
  --color-activebrown: #503E33;
  --color-datagrey: #A9A9A9;
  --color-activegrey: #EBEBEB;
  --color-bordergrey: #E5E5E5;
  --color-white: #FFFFFF;
  --color-lightgrey: #EEEEEE;
  --color-neutral: #F2F2F2;
  --color-blue: #81B3D2;
  --color-deepblue: #669ec0;
  --color-darkblue: #5496BD;
  --color-footer: rgba(255, 255, 255, 0.9);
}

.blue {
  background-color: var(--color-blue);
}

.white {
  background-color: var(--color-white);
}

.grey {
  background-color: var(--color-lightgrey);
}

.container{
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.features{
  display: flex;
	flex-direction: column;
  flex-wrap:wrap;
	align-items: center;
	background-color:var(--color-white);
}

.main-info{
  padding-top: 41px;
  min-height: 216px;
}

.main-info h1{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.main-info p{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.features-list {
  display: flex;
  flex-direction:row;
  text-align: center;
  justify-content: space-around;
}

.features-list.white{
  height: 330px;
  padding-top: 61px;
}

.features-list.grey{
  height: 256px;
  padding-top: 47px;
}

.feature-wrap {
  display: flex;
  color: var(--color-white);
  height: 256px;
  text-align: center;
}

.reverse{
  flex-direction: row-reverse;
}

.text-box{
  padding-top: 47px;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-black);
  text-transform: uppercase;
  background-color: var(--color-neutral);
  background-position: top center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.page-body-inner-page {
  min-height: 100%;
  display: grid;
  text-transform: uppercase;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}
.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Grid */

.page {
  height: 100%;
}

/* Main navigation */

.base-logo {
  background-size: contain;
  height: 511px;
  background: url("../img/Shape.png") no-repeat bottom, url("../img/background-photo.jpg") no-repeat top;
  padding-top: 76px;
  padding-bottom: 11px;
  padding-left: 371px;
  padding-right: 371px;

}

.header-filter {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background: rgba(0, 0, 0, 0);
  margin-bottom: 24px;
}

.text-price-row{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.price {
  background: transparent;
  border: var(--color-white);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 159px;
  text-align: center;
}

.price::placeholder{
  color: #FFFFFF;
}

.price:first-child{
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.price:last-child{
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.range-line {
  height: 2px;
  width: 316px;
  background-color: var(--color-white);
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.range {
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  cursor: pointer;
  background-image: url("../img/icons/range-pointer.svg");
}

.range:hover{
  transform: scale(1.1);
}

.range-max {
  left: 80%;
}

.range-min {
  left: 0;
}

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--color-black);
  background-color: var(--color-white);
}

.main-navigation-wrapper {
  background-color: var(--color-white);
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.site-navigation-link {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-weight: 700;
}
.filter-checkbox{
  list-style: none;
}
.site-navigation li {
  list-style: none;
  width: 25%;
  color: var(--color-black);
}

.site-navigation li:nth-child(1), .site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3), .site-navigation li:nth-child(4) {
  text-align: right;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.site-navigation-link:hover {
  color: var(--color-blue);
}

.site-navigation-link:active {
  color: var(--color-black);
  opacity: 0.3;
}

.site-navigation-link:focus {
  color: var(--color-brown);
}
.site-navigation-link--current{
  color: var(--color-brown);
}

.site-navigation li {
  width: 25%;
}

.site-navigation li:nth-child(1), .site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3), .site-navigation li:nth-child(4) {
  text-align: right;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}


.hotel-card{
  margin-bottom: 120px;
}
/* Search-Hotel */

.search-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background-image: url(../img/background.jpg);
  height: 217px;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
  padding-top: 26px;
  padding-right: 73px;
  padding-bottom: 32px;
  padding-left: 72px;
}

.search-item{
  border: none;
  margin: 0;
  padding: 0;
}

.search-item.last{
  display: flex;
  flex-direction: column;
  padding-left: 210px;
}

.checkboxes-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 114px;
  margin: 0;
}

.filter-checkbox{
  display: flex;
  height: 23px;
}

.label{
  margin-left: 16px;
}

input[type="checkbox"]:checked,
input[type="checkbox"] {
  display: none;
  position: absolute;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"] + label{
  display: inline-block;
  position: relative;
  padding-left: 44px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"] + label:before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"] + label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 4px;
  background-image: url("../img/icons/check.svg");
  width: 21px;
  height: 16px;
}

input[type="checkbox"]:not(:checked) + label:after{
  opacity: 0;
}

input[type="checkbox"]:checked + label:after{
  opacity: 1;
}

input[type="checkbox"]:disabled + label:before{
  border: 2px solid #6A6A6A;
}

input[type="checkbox"][disabled]:checked + label:after,
input[type="checkbox"][disabled] + label:after {
  background-image: url("../img/icons/check-disabled.svg");
}

.side-padding{
  padding-left: 73px;
  padding-right: 73px;
}

.result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
}

.result-left{
  display: flex;
  align-items: center;
}

.result-left ul{
  display: flex;
  margin-left: 40px;
}

.result-number{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.result-description{
  font-size: 12px;
  line-height: 18px;
  margin-left:46px;
}

.result-right{
  display: flex;
  width: 34px;
  justify-content: space-between;
}

.result-icon{
  cursor:pointer;
}

.result-icon:hover .change-fill{
  fill: var(--color-black);
}

.result-icon:hover .change-fill{
  fill: var(--color-black);
}

.result-icon:active .change-fill{
  fill: var(--color-blue);
}

.result-icon:focus .change-fill{
  fill: var(--color-blue);
}

.apartment-search{
  display: flex;
  flex-direction: column;
	align-items: flex-start;
	justify-content: center;
  width: 568px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.apartment-search-row{
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.date-box{
  width: 348px;
  position: relative;
}

.hotels-input{
  width: 100%;
  height: 38px;
  border-radius: 0;
  border: none;
  background-color: #F2F2F2;
  padding-left: 12px;
  margin-left: 19px;
}

.hotels-input:hover{
  background-color: var(--color-activegrey);
}

.hotels-input:focus{
  background-color: var(--color-white);
  border-radius: 0;
  border: 2px solid  var(--color-activegrey);
  outline: none;
}

.calendar-icon{
  position: absolute;
  top: 7px;
  right: 0;
  cursor:pointer;
}

.form-icon:hover .change-fill{
  fill: var(--color-black);
}

.form-icon:active .change-fill{
  fill: var(--color-blue);
}

.apartment-search-selector{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.number-box{
  display: flex;
  position: relative;
}

.minus-icon{
  position: absolute;
  top: 18px;
  left: 52px;
  cursor: pointer;
}

.plus-icon{
  position: absolute;
  top: 14px;
  right: 13px;
  cursor: pointer;
}

.number-input{
  width: 114px;
  text-align: center;
  margin-left: 38px;
  height: 38px;
  border-radius: 0;
  border: none;
  background-color: #F2F2F2;
}

.apartment-search-button{
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 0;
  background-color: var(--color-blue);
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 55px;
}

.apartment-search-button:hover{
    background-color: var(--color-deepblue);
}

.apartment-search-button:active{
  background-color: #5496BD;
  color: rgba(255,255,255,0.3);
  outline: none;
}

.apartment-search-button:focus{
  outline: none;
}

.hotel {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding-top: 23px;
  padding-bottom: 33px;
  border-top: 1px solid #E5E5E5;
}

.hotel:last-child{
  border-bottom: 1px solid #E5E5E5;
}

.hotel-left{
  display: flex;
  height: 90px;
}

.hotel-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 29px;
}

.hotel-name{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
}

.hotel-name:hover{
  color: var(--color-blue);
}

.hotel-name:active{
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info-row{
  display: flex;
  flex-direction: row;
}

.hotel-description{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}


.hotel-info-row h3, .hotel-info-row h4{
  margin: 0;
}

.hotel-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.rating-stars{
  display: flex;
  justify-content: flex-end;
}

.icon-star{
  background-image: url("../img/icons/star.svg");
  width: 19px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: contain;
}

.rating-box{
  width: 110px;
  height: 27px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating{
  margin: 0;
}

.result-item{
  font-size: 12px;
  line-height: 18px;
  margin-right: 33px;
  border-bottom: 1px dotted var(--color-blue);
}

.result-item a{
  color: rgba(0,0,0,0.3);
}

.result-item:hover a{
  color: var(--color-blue);
}

.result-item:active a{
  color: var(--color-black);
}

.result-item:active{
  border:none;
}

.result-item:focus a{
  color: var(--color-blue);
}

.result-item:focus{
  border:none;
}

.form{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  background-color: var(--color-white);
}

/* Buttons */

.filter-button-box{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 33px;
}

.filter-button {
  background: transparent;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  width: 137px;
  height: 36px;
  text-transform: uppercase;
}

.filter-button:hover{
  background-color: var(--color-white);
  color: var(--color-black);
}

.button-details {
  color: var(--color-white);
  background-color: var(--color-blue);
  width: 110px;
  text-align: center;
  text-transform: uppercase;
  height: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding-top: 4px;
}

.button-details:hover {
  background-color: var(--color-deepblue);
}

.button-details:active {
  background-color: var(--color-darkblue);
  color: rgba(255,255,255,0.3);
}

.booking{
  display: flex;
	flex-direction: column;
	justify-content: center;
  text-align: center;
  background-color: var(--color-white);
  margin: 0;
}

.booking h3{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.booking-date{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.button-book {
  color: var(--color-white);
  background-color: var(--color-brown);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  height: 27px;
  width: 142px;
  padding-top: 4px;
  margin-left: 6px;
}

.button-book:hover {
  background-color: var(--color-deepbrown);
}

.button-book:active {
  background-color: var(--color-activebrown);
  color: rgba(255,255,255,0.3);
}
.button-search-form-button{
  display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
	width: 568px;
	height: 86px;
	min-height: 86px;

	text-transform: uppercase;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	color: var(--color-white);

	background-color: var(--color-brown);
	border: none;
}

.button-search-form-button:hover{
  background-color: var(--color-deepbrown);
}

.button-search-form-button:active{
  background-color: var(--color-activebrown);
  color: rgba(255,255,255,0.3);
}
/* Features */

.headers {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/* Main footer */

.main-footer {
  margin-top: -120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-footer);
  background-position: 0 0;
  background-repeat: repeat;
  padding-left: 111px;
  padding-right: 138px;
}

.social{
  display: flex;
  gap: 6px;
}

.footer-contacts{
  text-align: center;
}

.footer-contacts a {
  color: var(--color-black);
  text-decoration: none;
}

/* Social button */

.social-button {
  width: 46px;
  height: 48px;
  color: var(--color-white);
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  cursor:pointer;
}

.social-button:hover{
  background-color: var(--color-deepblue);
}

.social-button:active img{
  opacity: 0.3;
}

.social-button:active{
  background-color: #5496BD;
}
/* Copyright */

.copyright {
  text-align: center;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  gap: 8px;
}

.copyright-button:hover .copyright-button-icon{
  fill: #81B3D2;
}

.copyright-button:active .copyright-button-icon{
  fill: #BDBBBC;
}
